html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Header Style */

.header {
  text-align: center;
  box-shadow: 5px 5px 15px lightsteelblue;
  padding: 1rem;
  h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    color: cadetblue;
  }
  p{
    font-size: 1.5rem;
    font-style: italic;
    color: brown;
  }
}
