html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Header Style */

.header {
  text-align: center;
  box-shadow: 5px 5px 15px lightsteelblue;
  padding: 1rem;
  h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    color: cadetblue;
  }
  p {
    font-size: 1.5rem;
    font-style: italic;
    color: brown;
  }
}

/* Content style */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

/* Form Style */

.formContainer {
  margin-left: 5rem;
  input {
    margin-top: 0.5rem;
    width: 65%;
    margin-bottom: 1rem;
    height: 3rem;
    border: 2px solid cadetblue;
  }
  input:focus {
    outline: none;
    border-color: cadetblue;
  }

  label {
    font-size: large;
    color: brown;
  }
  .btn {
    text-align: center;

    button {
      border-radius: 1rem;
      padding: 0.5rem;
      width: 15%;
      height: 15%;
      background: darkcyan;
      color: white;
      outline: none;
    }
  }
}

.error-msg{
  color:red;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}


/* Student Data Style */
.std-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height:80vh;
  overflow-y: scroll;
  .std-card{
    dl {
    display: grid; 
    grid-template-columns: max-content 1fr; 
    gap: 10px; 
    margin: 0; 
    }
    dt{
      font-size: 1.5rem;
    }
    dd{
      font-weight:bold;
      font-size: 1.5rem;
      color: darkcyan;
    }
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:1rem;
    height: fit-content;
  }
}


.std-card-btn{
    float: right;
    margin-right: 1rem;
    button{
        margin-left:0.5rem;
        border:none;
        background:none;
        cursor:pointer;
    }
}

/* Responsive Styles */

@media screen and (max-width: 640px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .formContainer {
    input {
      width: 90%;
    }
  }

  /* Card Style */

  .std-data{
    display: grid;
    grid-template-columns: 1fr;
  }
}

